<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - Freelancer</title>
        <link rel="icon" type="image/x-icon"
            href="{% static 'myapp/assets/images/favicon.svg' %}">
        <link rel="stylesheet" href="{% static 'myapp/assets/css/swap.css' %}">
        <link rel="stylesheet"
            href="{% static 'myapp/assets/css/fancybox.min.css' %}">
        <link rel="stylesheet"
            href="{% static 'myapp/assets/css/magnific-popup.min.css' %}">
        <link rel="stylesheet" href="{% static 'myapp/assets/css/aos.css' %}">
        <link rel="stylesheet"
            href="{% static 'myapp/assets/css/slick.min.css' %}">
        <link rel="stylesheet"
            href="{% static 'myapp/assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'myapp/assets/css/style.css' %}">
        <link rel="stylesheet"
            href="{% static 'myapp/assets/css/media_query.css' %}">
    </head>
    <body>
        <div class="site_contain">
            <!-- ====================================== Cusrsor ===================================== -->
            <div class="cursor"></div>
            <!-- ====================================== Cursor End ===================================== -->
            <!-- ====================================== Preloader ===================================== -->
            <div class="page-loader">
                <div class="loader"></div>
                <div class="shadow"></div>
            </div>
            <!-- ====================================== Preloader End ===================================== -->
            <!-- ====================================== Main Menu ===================================== -->
            <header id="top-navbar" class="top-navbar">
                <div class="container">
                    <div class="top-navbar_full">
                        <div class="back-btn">
                            <a href="/">
                                <img
                                    src="{% static 'myapp/assets/images/logo_svg.svg' %}"
                                    alt="logo">
                            </a>
                        </div>
                        <div class="hell">
                            <ul class="top-navbar-title">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/####">Services</a></li>
                                <li class="menu-active"><a
                                        href="/####">Portfolio</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                            <a
                                href="{% static 'myapp/assets/pdf/Rahu_Resume_AI.pdf' %}">
                                <div class="cv-btn">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24"
                                        viewBox="0 0 24 24"
                                        fill="none">
                                        <g clip-path="url(#clip0_25_74)">
                                            <path d="M12 3V15" stroke="#0F141C"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M16 11L12 15L8 11"
                                                stroke="#0F141C"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M3 12C3 14.3869 3.94821 16.6761 5.63604 18.364C7.32387 20.0518 9.61305 21 12 21C14.3869 21 16.6761 20.0518 18.364 18.364C20.0518 16.6761 21 14.3869 21 12"
                                                stroke="#0F141C"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                    </svg>
                                </div>
                            </a>
                            <div class="outer-menu">
                                <input class="checkbox-toggle" type="checkbox"
                                    name="checkbox">
                                <div class="hamburger">
                                    <div></div>
                                </div>
                                <!-- ====================================== Side Menu ===================================== -->
                                <div class="menu">
                                    <div>
                                        <nav>
                                            <div class="container">
                                                <div class="row sidemenu-main">
                                                    <div class="col-lg-2">
                                                        <div class="menu-text">
                                                            <div
                                                                class="side-menu-text">
                                                                <p>MENU</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="col-lg-7 side-menu-scroll">
                                                        <div class="heading2"><a
                                                                href="/">Home</a></div>
                                                        <div class="heading2"><a
                                                                href="/about">About</a></div>
                                                        <div class="accordion">
                                                            <div
                                                                class="heading2 cursor-arrow">
                                                                <a
                                                                    href="/####">
                                                                    Portfolio
                                                                </a></div>
                                                            <div
                                                                class="heading2">
                                                                <a href>
                                                                    Single
                                                                    Portfolio
                                                                </a></div>
                                                            <div
                                                                class="heading2">
                                                                <a href>
                                                                    Services
                                                                </a></div>

                                                            <div
                                                                class="heading2">
                                                                <a href>
                                                                    Single
                                                                    Services
                                                                </a></div>
                                                            <div
                                                                class="heading2 cursor-arrow">
                                                                <a href>
                                                                    Blog
                                                                </a></div>
                                                            <div
                                                                class="heading2">
                                                                <a href>
                                                                    Single Blog
                                                                </a></div>
                                                        </div>
                                                        <div class="heading2"><a
                                                                href="/contact">Contact</a></div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="cont-info">
                                                            <div class="item">
                                                                <p
                                                                    class="sub-title-address">Address</p>
                                                                <p
                                                                    class="geek-alto">Surat.<br>Gujarat,
                                                                    India</p>
                                                            </div>
                                                            <div class="item">
                                                                <p
                                                                    class="sub-title-address">Contact
                                                                    Us</p>
                                                                <p><a
                                                                        href="mailto:rekharahul.agarwal@gmail.com">rekharahul.agarwal@gmail.com</a></p>
                                                                <p
                                                                    class="underline">
                                                                    <a
                                                                        href="tel:+918849095957">+91
                                                                        8849095957</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                                <!-- ====================================== Side Menu End===================================== -->
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- ====================================== Main Menu End ===================================== -->
            <!-- ====================================== Portfolio Section One ===================================== -->
            <section class="single-blog2-section-main overflow-hidden"
                id="main">
                <div class="container">
                    <p class="main-text" data-aos="fade-down">My Portfolio</p>
                    <h1 class="JessicaBiogi blog2-main-text"
                        data-aos="fade-down">Selected Work</h1>
                    <nav aria-label="breadcrumb" id="breadcrumb"
                        data-aos="fade-up">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a
                                    href="/">Home</a></li>
                            <li class="breadcrumb-item active"
                                aria-current="page"><a
                                    href="portfolio2.html">Portfolio</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </section>
            <!-- ====================================== Portfolio Section One End ===================================== -->
            <!-- ================== Portfolio Section Two ===============================-->
            <section
                class="section-five section-five-portfolio overflow-hidden">
                <div class="container">
                    <p class="our-services discover-our-cases"
                        data-aos="fade-up">DISCOVER OUR CASES</p>
                    <div class="tab-header">
                        <div>
                            <h2 class="our-solution latest_project"
                                data-aos="fade-down">Latest Projects.</h2>
                        </div>
                        <div class="tab-bar" data-aos="fade-up"
                            style="display: -webkit-inline-box;">
                            <button class="tab-button active"
                                data-tab="tab1"><span>9</span>ALL</button>
                            <button class="tab-button"
                                data-tab="tab2"><span>2</span>AI-ML</button>
                            <button class="tab-button"
                                data-tab="tab3"><span>2</span>Computer
                                Vision</button>
                            <button class="tab-button"
                                data-tab="tab4"><span>1</span>Web
                                Development</button>
                            <button class="tab-button"
                                data-tab="tab5"><span>1</span>Web
                                Scraping</button>
                            <button class="tab-button"
                                data-tab="tab6"><span>2</span>Embedded Systems &
                                IoT</button>
                            <button class="tab-button"
                                data-tab="tab7"><span>1</span>Automation</button>
                        </div>
                    </div>
                    <div class="tab-content">
                        <!-- All -->
                        <div id="tab1" class="tab-pane active"
                            data-aos="zoom-in">
                            <div class="row">
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-services-project-img1.jpg' %}"
                                                alt="single-services-project-img1">
                                            <div class="figcaption">
                                                <h3>AI Gesture Math Problem
                                                    Solver</h3>
                                                <h4>AI-ML</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-services-project-img2.jpg' %}"
                                                alt="single-services-project-img2">
                                            <div class="figcaption">
                                                <h3>Pose Recognition System</h3>
                                                <h4>Computer Vision</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-services-project-img3.jpg' %}"
                                                alt="single-services-project-img3">
                                            <div class="figcaption">
                                                <h3>Upwork Extension</h3>
                                                <h4>Web Development</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-portfolio-over-img1.jpg' %}"
                                                alt="single-portfolio-over-img1">
                                            <div class="figcaption">
                                                <h3>Smart Stick for Visually
                                                    Impaired Person</h3>
                                                <h4>Embedded Systems & IoT</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-portfolio-over-img2.jpg' %}"
                                                alt="single-portfolio-over-img2">
                                            <div class="figcaption">
                                                <h3>Traffic Light System with
                                                    Energy Generation</h3>
                                                <h4>Embedded Systems & IoT</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/news-img2.jpg' %}"
                                                alt="news-img2">
                                            <div class="figcaption">
                                                <h3>Automation for CA</h3>
                                                <h4>Automation</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/seo-implemnts.jpg' %}"
                                                alt="seo-implemnts">
                                            <div class="figcaption">
                                                <h3>Realtime Face Detection
                                                    Attendance</h3>
                                                <h4>AI-ML</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/effective-img.jpg' %}"
                                                alt="effective-img">
                                            <div class="figcaption">
                                                <h3>Augmented Reality
                                                    Filters</h3>
                                                <h4>AI-ML</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main mb-0">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/digital-marketing-img.jpg' %}"
                                                alt="digital-marketing-img">
                                            <div class="figcaption">
                                                <h3>Coffee Virtual Machine</h3>
                                                <h4>Computer Vision</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- AI-ML -->
                        <div id="tab2" class="tab-pane tab-pane2 ">
                            <div class="row">
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/effective-img.jpg' %}"
                                                alt="effective-img">
                                            <div class="figcaption">
                                                <h3>AI Gesture Math Problem
                                                    Solver</h3>
                                                <h4>AI-ML</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-services-project-img1.jpg' %}"
                                                alt="single-services-project-img1">
                                            <div class="figcaption">
                                                <h3>ATS</h3>
                                                <h4>AI-ML</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-services-project-img1.jpg' %}"
                                                alt="single-services-project-img1">
                                            <div class="figcaption">
                                                <h3>Augmented Reality
                                                    Filters</h3>
                                                <h4>AI-ML</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Computer Vision -->
                        <div id="tab3" class="tab-pane tab-pane2">
                            <div class="row">
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-services-project-img2.jpg' %}"
                                                alt="single-services-project-img2">
                                            <div class="figcaption">
                                                <h3>Pose Recognition System</h3>
                                                <h4>Computer Vision</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-services-project-img1.jpg' %}"
                                                alt="single-services-project-img2">
                                            <div class="figcaption">
                                                <h3>Coffee Virtual Machine</h3>
                                                <h4>Computer Vision</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-services-project-img1.jpg' %}"
                                                alt="single-services-project-img2">
                                            <div class="figcaption">
                                                <h3>Augmented Reality
                                                    Filters</h3>
                                                <h4>Computer Vision</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-services-project-img1.jpg' %}"
                                                alt="single-services-project-img2">
                                            <div class="figcaption">
                                                <h3>Realtime Face Detection
                                                    Attendance</h3>
                                                <h4>Computer Vision</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Web Development -->
                        <div id="tab4" class="tab-pane tab-pane2">
                            <div class="row">
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-services-project-img3.jpg' %}"
                                                alt="single-services-project-img3">
                                            <div class="figcaption">
                                                <h3>Upwork Extension</h3>
                                                <h4>Web Development</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-services-project-img3.jpg' %}"
                                                alt="single-services-project-img3">
                                            <div class="figcaption">
                                                <h3>Upwork Job Notification</h3>
                                                <h4>Web Development</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Web Scraping -->
                        <div id="tab5" class="tab-pane tab-pane2">
                            <div class="row">
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/news-img2.jpg' %}"
                                                alt="news-img2">
                                            <div class="figcaption">
                                                <h3>BNI Scraper</h3>
                                                <h4>Web Scraping</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/news-img2.jpg' %}"
                                                alt="news-img2">
                                            <div class="figcaption">
                                                <h3>Refurmished Phone data</h3>
                                                <h4>Web Scraping</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Embedded Systems & IoT -->
                        <div id="tab6" class="tab-pane tab-pane2">
                            <div class="row">
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-services-project-img1.jpg' %}"
                                                alt="single-services-project-img1">
                                            <div class="figcaption">
                                                <h3>Smart Stick for Visually
                                                    Impaired Person</h3>
                                                <h4>Embedded Systems & IoT</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-services-project-img1.jpg' %}"
                                                alt="single-services-project-img1">
                                            <div class="figcaption">
                                                <h3>Traffic Light System with
                                                    Energy Generation</h3>
                                                <h4>Embedded Systems & IoT</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-services-project-img1.jpg' %}"
                                                alt="single-services-project-img1">
                                            <div class="figcaption">
                                                <h3>Realtime Face Detection
                                                    Attendance</h3>
                                                <h4>Embedded Systems & IoT</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Automation -->
                        <div id="tab7" class="tab-pane tab-pane2">
                            <div class="row">
                                <div
                                    class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 portfolio-hover-box-main">
                                    <div class="portfolio-hover-box">
                                        <a href="single_portfolio.html">
                                            <img
                                                src="{% static 'myapp/assets/images/single-portfolio-over-img2.jpg' %}"
                                                alt="single-portfolio-over-img2">
                                            <div class="figcaption">
                                                <h3>Automation for CA</h3>
                                                <h4>Automation</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ================== Portfolio Section Two End ===============================-->
            <!-- ====================================== Brands Marquee Section ===================================== -->
            <div class="Marquee-main about-Marquee-main overflow-hidden">
                <h3 data-aos="fade-down">Trusted by World Leading Brands</h3>
                <div class="logos logos2">
                    <div class="logos-slide">
                        <div class="marquee__content">
                            <div class="marquee-img-main">
                                <img class="brand-logos"
                                    src="{% static 'myapp/assets/images/brand-logo1.png' %}"
                                    alt="brand-logo1">
                            </div>
                            <div class="marquee-img-main">
                                <img class="brand-logos"
                                    src="{% static 'myapp/assets/images/brand-logo2.png' %}"
                                    alt="brand-logo2">
                            </div>
                            <div class="marquee-img-main">
                                <img class="brand-logos"
                                    src="{% static 'myapp/assets/images/brand-logo3.png' %}"
                                    alt="brand-logo3">
                            </div>
                            <div class="marquee-img-main">
                                <img class="brand-logos"
                                    src="{% static 'myapp/assets/images/brand-logo4.png' %}"
                                    alt="brand-logo4">
                            </div>
                            <div class="marquee-img-main">
                                <img class="brand-logos"
                                    src="{% static 'myapp/assets/images/brand-logo5.png' %}"
                                    alt="brand-logo5">
                            </div>
                            <div class="marquee-img-main">
                                <img class="brand-logos"
                                    src="{% static 'myapp/assets/images/brand-logo6.png' %}"
                                    alt="brand-logo6">
                            </div>
                            <div class="marquee-img-main">
                                <img class="brand-logos"
                                    src="{% static 'myapp/assets/images/brand-logo7.png' %}"
                                    alt="brand-logo7">
                            </div>
                            <div class="marquee-img-main">
                                <img class="brand-logos"
                                    src="{% static 'myapp/assets/images/brand-logo8.png' %}"
                                    alt="brand-logo8">
                            </div>
                            <div class="marquee-img-main">
                                <img class="brand-logos"
                                    src="{% static 'myapp/assets/images/brand-logo7.png' %}"
                                    alt="brand-logo9">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ====================================== Brands Marquee Section End===================================== -->
            <div class="header_full_sec about_header_full_sec">
                <div class="position-relative">
                    <img class="client-bounce-img client-bounce-img1"
                        src="{% static 'myapp/assets/images/client-bounce-img1.jpg' %}"
                        alt="client-bounce-img1">
                    <img class="client-bounce-img client-bounce-img2"
                        src="{% static 'myapp/assets/images/client-bounce-img2.jpg' %}"
                        alt="client-bounce-img2">
                    <img class="client-bounce-img client-bounce-img3"
                        src="{% static 'myapp/assets/images/client-bounce-img3.jpg' %}"
                        alt="client-bounce-img3">
                    <img class="client-bounce-img client-bounce-img4"
                        src="{% static 'myapp/assets/images/client-bounce-img4.jpg' %}"
                        alt="client-bounce-img4">
                    <div class="logos">
                        <div class="logos-slide">
                            <div class="ticker__item">
                                <a
                                    href="mailto:rekharahul.agarwal@gmail.com">rekharahul.agarwal@gmail.com</a>
                            </div>
                            <div class="ticker__item ticker__item_dark">
                                <a href="tel:+91 8849095957">+91 8849095957</a>
                            </div>
                            <div class="ticker__item">
                                <a
                                    href="mailto:rekharahul.agarwal@gmail.com">rekharahul.agarwal@gmail.com</a>
                            </div>
                            <div class="ticker__item ticker__item_dark">
                                <a href="tel:+91 8849095957">+91 8849095957</a>
                            </div>
                            <div class="ticker__item">
                                <a
                                    href="mailto:rekharahul.agarwal@gmail.com">rekharahul.agarwal@gmail.com</a>
                            </div>
                            <div class="ticker__item ticker__item_dark">
                                <a href="tel:+91 8849095957">+91 8849095957</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ====================================== Footer ===================================== -->
            <footer>
                <div class="mobile-itemright-footer" data-aos="fade-down">
                    <div class="footer-box-right">
                        <p class="mind-project">Have a project in your mind?</p>
                        <div class="view-work-circle btn btn1">
                            <a href="/contact" class="a1">CONTACT ME</a>
                        </div>
                        <div>
                            <p class="contact_time">09 : 00 AM - 10 : 30 PM</p>
                            <p class="monday">Monday to Saturday</p>
                        </div>
                    </div>
                </div>
                <div class="footer-bg">
                    <div class="container footer-containe">
                        <div class="hekl">
                            <div class="row">
                                <div class="col-xxl-5 col-xl-5 col-lg-5">
                                    <a href="index.html"><img
                                            src="{% static 'myapp/assets/images/logo_svg.svg' %}"
                                            alt="logo"></a>
                                    <p class="work_well">When do they work well,
                                        and when do they on us and finally,
                                        when do we actually need how can we
                                        avoid them.</p>
                                    <div class="contact-footer">
                                        <img
                                            src="{% static 'myapp/assets/images/phone_svg.svg' %}"
                                            alt="phone_svg">
                                        <a href="tel:+918849095957">+91
                                            8849095957</a>
                                    </div>
                                    <div class="contact-footer">
                                        <img
                                            src="{% static 'myapp/assets/images/email_svg.svg' %}"
                                            alt="email_svg">
                                        <a
                                            href="mailto:rekharahul.agarwal@gmail.com">rekharahul.agarwal@gmail.com</a>
                                    </div>
                                    <div class="contact-footer">
                                        <img
                                            src="{% static 'myapp/assets/images/location_svg.svg' %}"
                                            alt="location_svg">
                                        <p>Gujarat, India</p>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-3">
                                    <p class="useful-link">USEFUL LINKS</p>
                                    <div class="contact-footer">
                                        <a href="/about">About</a>
                                    </div>
                                    <div class="contact-footer">
                                        <a href="/####">Services</a>
                                    </div>
                                    <div class="contact-footer">
                                        <a href="/##">Portfolio</a>
                                    </div>
                                    <div class="contact-footer">
                                        <a href="/###">Blog</a>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-4 col-lg-4">
                                    <p class="useful-link">USEFUL LINKS</p>
                                    <div class="contact-footer">
                                        <a href="/contact">Contact</a>
                                    </div>
                                    <div class="contact-footer">
                                        <a href="index.html#">Privacy Policy</a>
                                    </div>
                                    <div class="contact-footer">
                                        <a href="index.html#">Terms &
                                            Conditions</a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="copyright_main">
                         
                            <div class="input-main">
                                <input type="text" name="text" placeholder="Enter your email" autocomplete="off">
                                <svg class="send-svg-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none">
                                    <g clip-path="url(#clip0_147_85)">
                                        <path d="M10 14L21 3" stroke="white" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M21 3L14.5 21C14.4561 21.0957 14.3857 21.1769 14.2971 21.2338C14.2084 21.2906 14.1053 21.3209 14 21.3209C13.8947 21.3209 13.7916 21.2906 13.703 21.2338C13.6143 21.1769 13.5439 21.0957 13.5 21L10 14L3.00001 10.5C2.90427 10.4561 2.82314 10.3857 2.76626 10.2971C2.70938 10.2084 2.67914 10.1053 2.67914 10C2.67914 9.89468 2.70938 9.79158 2.76626 9.70295C2.82314 9.61431 2.90427 9.54387 3.00001 9.5L21 3Z"
                                            stroke="white" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_147_85">
                                            <rect width="24" height="24" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                        </div> -->
                        </div>
                        <div class="desktop-itemright-footer">
                            <div class="footer-box-right">
                                <p class="mind-project">Have a project in your
                                    mind?</p>
                                <div class="view-work-circle btn btn1">
                                    <a href="/contact" class="a1">CONTACT ME</a>
                                </div>
                                <div>
                                    <p class="contact_time">09 : 00 AM - 10 : 30
                                        PM</p>
                                    <p class="monday">Monday to Saturday</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- ====================================== Footer End ===================================== -->
            <!-- ====================================== Progress Scroll Bottom To Top ===================================== -->
            <div class="progress-wrap cursor-pointer">
                <svg class="progress-circle svg-content" width="100%"
                    height="100%" viewBox="-1 -1 102 102">
                    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
                </svg>
            </div>
            <!-- ====================================== Progress Scroll Bottom To Top End ===================================== -->
        </div>
        <script
            src="{% static 'myapp/assets/javascript/jquery.min.js' %}"></script>
        <script
            src="{% static 'myapp/assets/javascript/fancybox.min.js' %}"></script>
        <script src="{% static 'myapp/assets/javascript/gsap.js' %}"></script>
        <script
            src="{% static 'myapp/assets/javascript/magnific-popup.min.js' %}"></script>
        <script src="{% static 'myapp/assets/javascript/aos.js' %}"></script>
        <script
            src="{% static 'myapp/assets/javascript/slick.min.js' %}"></script>
        <script
            src="{% static 'myapp/assets/javascript/bootstrap.min.js' %}"></script>
        <script src="{% static 'myapp/assets/javascript/script.js' %}"></script>
    </body>
</html>